body {
	color: tomato;
}
.my-class-1 a {
	color: inherit;
}

.my-class-2 a {
	color: initial;
}

.my-class-3 a {
	color: unset;
}
a {
	color: blueviolet;
}
blockquote {
	background-color: red;
	border: 2px solid green;
}

.fix-this {
	all: unset;
}
